.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal .cabecalhoPrincipal-nav {
    display: flex;
}

.cabecalhoPrincipal .cabecalhoPrincipal-nav a {
    margin: 0;
}

.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores .container .rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-around;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

.rodapePrincipal-navMap-list {
    display: flex;
    flex-flow: column wrap;
    height: 250px;
}

.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
    width: 23%;
    margin: 1%;
}

.videoSobre .container {
    display: flex;
    flex-wrap: wrap;
}

.videoSobre-sobre {
    display: flex;
    align-content: space-between;
    flex-direction: column;
    height: 100%;
}

@media(max-width: 768px) {
    /*Navbar*/
    .cabecalhoPrincipal .container {
        flex-direction: column;
    }

    .cabecalhoPrincipal .cabecalhoPrincipal-nav {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .cabecalhoPrincipal .cabecalhoPrincipal-nav a:last-child {
        order: -1;
    }

    /*Cursos*/
    .conteudoPrincipal-cursos li {
        width: 100%;
    }

    .rodapePrincipal-navMap-list {
        height: auto;
    }

    .rodapePrincipal-patrocinadores .container {
        flex-direction: column;
    }

    .rodapePrincipal-patrocinadores .container .rodapePrincipal-patrocinadores-list {
        width: 100%;
    }

    .rodapePrincipal-contatoForm-fieldset {
        justify-content: center;
    }

    .videoSobre-sobre {
        text-align: center;
    }

    .videoSobre-button,
    .videoSobre-sobre {
        margin-top: 20px
    }
}